POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
# Use POSTGRES_HOST=db for Docker Compose, localhost for local
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=30
ALGORITHM=HS256

# Use http://ragapp:8000 for Docker Compose, http://localhost:8000 for local
API_BASE_URL=http://localhost:8000
# For Docker Compose, set BlobEndpoint=http://azurite:10000/devstoreaccount1;
AZURE_STORAGE_CONNECTION_STRING=
QDRANT_HOST=localhost
QDRANT_PORT=6333
LLM_API_URL=
LLM_API_KEY=
LLM_MODEL=

# Hugging Face Settings
HF_KEY=
HF_API_KEY=
HF_EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
HF_CHAT_MODEL=meta-llama/Llama-3.2-3B-Instruct
